.header{

    background-color: aqua;
    font-size: 5px;

}

.center{

    background-color: rgb(201, 255, 196);
    font-size: 5px;



}

.footer{

    background-color: bisque;
    font-size: 5px;


}